.mob__menu {
    @media screen and (min-width: 1197px) {
        display: none;
    }
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    height: 100%;
    z-index: 1;
}
.mob__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mob__nav--list {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin: 20px auto;
}
.mob__nav--list--item{
    color: #000000;
    font-weight: 300;
    font-size: 30px;
}
