.mob__menu {
    @media screen and (min-width: 1189px) {
        display: none;
    }
    height: 100%;
    position: fixed;
    top: 80px;
    width: 100%;
    cursor: pointer;
    z-index: 20000;
    background-color: var(--white);
}
.mob__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.mob__nav--list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 20px auto;
}
.mob__nav--list--item{
    color: #000000;
    font-weight: 300;
    font-size: 30px;
}
