.split{
    width: 100%;
    min-height: 200px;
    background-image: url(..//images/split1.jpg);
    background-repeat: no-repeat;
    @media screen and (max-width:780px) {
        margin-top: -1px;
    }
}
.split2{
    width: 100%;
    min-height: 200px;
    background-image: url(..//images/split2.jpg);
    background-repeat: no-repeat;
}