body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    width: 100%;
    cursor: url(/images/cursor.png  ),default;
  }
  .link {
    text-decoration: none;
  }