:root {
  --white: #ffffff;
  --mostly-black: #000000;
  --dark-gray: #757575;
  --very-dark-gray: #212121;
  --vivid-blue: #2196f3;
  --very-dark-grayish-blue: #2f303a;
  --vivid-blue-button: #188ce8;
  --light-grayish-blue: #f5f4fa;
  --light-gray: #c4c4c4;
  --grayish-blue: #afb1b8;
  --very-light-gray: #ececec;
  --very-light-gray-two: #eeeeee;
  --dark-moderate-cyan: #4ca2ab;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --very-soft-pink: #ef86c1;
}
