.hero{
    min-width: 1680px;
    min-height: 945px;
    background-image: url(..//images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        @media screen and (max-width:780px) {
        min-width: 320px;
        min-height: 833px;
        }
}
.hero__content{
    display: flex;
    justify-content: center;
    padding-top: 472.5px;
    color: var(--white);
    font-size: 30px;
    line-height: 1.05;
        @media screen and (min-width:318px) {
            line-height: 32px;
            font-size: 22px;
            padding-top: 450px;
            text-align:center;
        }
}